<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>express auth</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <% if (!currentUser) { %>
                <li><a href='/auth/signup'>Sign up</a></li>
                <li><a href='/auth/login'>Log In</a></li>
                <% } else { %>

                <li><a href='/auth/logout'>Log out</a></li>
                <li><a href='/profile'>Profile</a></li>
                    <% } %>
            </ul>
        </nav>
    </header>
    <%- include('partials/alerts') %>
    <h1>This is our sign in lab. Please pray it works and sign in.</h1>
    <%- body %> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>