<h1>Hi <%= currentUser.epicUsername %>!</h1>

<form action="/cboard/index" method="POST">


    <h4> Want to schedule a game time or give tips and encouragement?</h4>
    <label for="rivalEpicName">Rival Epic Name</label>
    <input type="text" name="rivalEpicName" id="rivalEpicName">

    <label for="rivalSpeak">Game times, encouragement and tips, etc.</label>
    <input type="text" name="rivalSpeak" id="rivalSpeak">

    <input type="submit" value="Post to Community">

</form>



    <%comments.forEach(comment => { %>
      <li>  <%=comment.content%>    
      <form method="POST" action="/cboard/<%= comment.id %>/?_method=DELETE">
          <input type="submit" value="Delete">
      </form>
      <form method="POST" action="/cboard/<%= comment.id %>/?_method=PUT">
        <label for="rivalSpeak">Edit Comment</label>
    <input type="text" name="editSpeak" id="editSpeak">
        <input type="submit" value="Edit Comment">
    </form> </li>  
        <% }) %>
       
