<h1>Hi <%= currentUser.epicUsername %>!</h1>

<form action="/cboard/index" method="POST">


    <h4> Want to schedule a game time or give tips and encouragement?</h4>
    <label for="rivalEpicName">Rival Epic Name</label>
    <input type="text" name="rivalEpicName" id="rivalEpicName">

    <label for="rivalSpeak">Game times, encouragement and tips, etc.</label>
    <input type="text" name="rivalSpeak" id="rivalSpeak">

    <input type="submit" value="Post to Community">

</form>


<!--  currentUser.epicUsername %>'s Messages</h1>
    <comment.forEach(comments => { %>
        <comments%>        
        < }) %> -->

<!-- <div class ="container">
    <h4>Do you have any ideas of where you want the community to head? Games or features you would like added, or bugs fixed?</h4>
    
    <label for="devthings">Community Ideas (games to add, bugs to fix, etc.</label>
    <input type="text" name="devthings" id="devthings">

    <input type="submit" value="Post to Community">
</form>
</div> -->