<h1>Add a rival</h1>

<form action="/fortnite/rival" method="GET">

    <label for="new-rivalepicUsername">Epic Username</label>
    <input type="rivalepicUsername" name="rivalepicUsername" id="new-rivalepicUsername">

    <input type="submit" value="New Rival">
</form>