<h1>Add a rival</h1>

<form action="/fortnite/rival" method="POST">
    <label for="new-rival">Rival Name</label>
    <input type="text" name="rivalname" id="new-rivalname">


    <label for="new-rivalepicUsername">Epic Username</label>
    <input type="rivalepicUsername" name="rivalepicUsername" id="new-rivalepicUsername">

    <input type="submit" value="New Rival">
</form>